
.bandsTableCol1
{
    width: 50px;
}

.bandsTableCol2
{
    width: 200px;
}

table.bandsTable > tbody > tr:hover 
{
    background-color: #e1f5fe;
    color: dimgray;
}

table.bandsTable > tbody > tr 
{
    color: darkgrey; 
}
