.albumsTable 
{
    width: 100%;
}


.albumsTableCol1 
{
    width: 10%;
}


.albumsTableCol2 
{
    width: 40%;
}


.albumsTableCol3 
{
    width: 30%;
}


.albumsTableCol4 
{
    width: 20%;
}


table.albumsTable > tbody > tr:hover 
{
    background-color: #b39ddb;
    color: white;
}


table.albumsTable > tbody > tr 
{
    color: darkgrey;
}
