.detailsTable 
{
    width: 100%;
}

.detailsTableCol1 
{
    width: 20%;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.detailsTableCol2 
{
    width: 100%;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.lastTableRow 
{
    border-bottom: none;
}
