.songsTable 
{
    width: 100%;
}

.songsTableCol1 
{
    width: 15%;
}

.songsTableCol2 
{
    width: 100%;
}

table.songsTable > tbody > tr:hover 
{
    background-color: #b39ddb;
    color: white;
}

table.songsTable > tbody > tr 
{
    color: darkgrey;
}
