@import "./components/table-bands.scss";
@import "./components/table-albums.scss";
@import "./components/table-songs.scss";
@import "./components/table-details.scss";
@import "./components/message-modal.scss";
@import "./components/song-modal.scss";
@import "./components/close-button.scss";
@import "./components/content-box.scss";
@import "./components/row-margins.scss";


/* Miscelánea */


.invisible
{
    display: none;
}


.nav-box 
{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}


.breadcrumb::before 
{
    color: #9e9e9e !important;
}


.more-horiz 
{
    font-size: 32px;
    color: #9e9e9e !important;
    cursor: pointer;
}

