@import "./components/table-bands.scss";
@import "./components/table-albums.scss";
@import "./components/table-songs.scss";
@import "./components/table-details.scss";
@import "./components/message-modal.scss";
@import "./components/song-modal.scss";
@import "./components/close-Button.scss";


/* Miscelánea */


.invisible
{
    display: none;
}


.modal-open 
{
    overflow: hidden;
}


/* Custom top margins */


.margin-t-5 
{
    margin-top: 5px;
}


.margin-t-10 
{
    margin-top: 10px;
}


.margin-t-15 
{
    margin-top: 15px;
}


.margin-t-30 
{
    margin-top: 30px;
}


.margin-t-50
{
    margin-top: 50px;
}


/* Custom bottom margins */


.margin-b-5
{
    margin-bottom: 5px;
}


.margin-b-10 
{
    margin-bottom: 10px;
}


.margin-b-15 
{
    margin-bottom: 15px;
}


.margin-b-30 
{
    margin-bottom: 30px;
}


.margin-b-50
{
    margin-bottom: 50px;
}

