.bandsTable
{
    width: 100%;
}


.bandsTableCol1 
{
    width: 15%;
}


.bandsTableCol2 
{
    width: 100%;
}


table.bandsTable > tbody > tr:hover 
{
    background-color: #b39ddb;
    color: white;
}


table.bandsTable > tbody > tr 
{
    color: darkgrey; 
}
